---
import { getCollection } from "astro:content";
import Boxes from "../components/Boxes.astro";

import ClientProfile from "../components/ClientProfile.astro";
import SocialBox from "../components/SocialBox.astro";
import TeamBox from "../components/TeamBox.astro";

import * as Intro from "../content/landing/intro.md";

import * as PublicGoods from "../content/landing/pg.md";
import * as Team from "../content/landing/team.md";

import * as Web3 from "../content/landing/web3.md";

import hackImg1 from "../assets/ethglobal_sg.jpg";

import * as Web3Profile from "../content/landing/web3-profile.md";

console.log(Intro.frontmatter);
---

<div class="flex flex-col gap-4">

<div>
<Boxes content={Intro} >

  <p slot="box2">
    <!-- <SocialBox /> -->

    <ClientProfile />
  </p>
    </Boxes>
</div>

<div>
<Boxes content={Web3} >
  <div slot="box2">
    <div class="m-auto p-8">
      <div class="text-slate-500  justify-center text-lg font-normal ">
          <Web3Profile.Content />
      </div>
      <div class="p-4">
        <img src={hackImg1.src} />
      </div>
    </div>

  </div>
  </Boxes>
</div>


<div>
    <Boxes content={Team} >
      <p slot="box2">
        <TeamBox /></p>
    </Boxes>
    
</div>

<div class="flex container mx-auto my-10 mb-20 p-8 bg-white  max-w-[400px] rounded-lg shadow-lg">
          
  <div class="text-center items-center justify-center text-black">
      <div class=" text-2xl">
          Contact us to build your dream
      
      </div>
      <br/>
      <a href="mailto:v@fractalbox.dev">v@fractalbox.dev</a>
  </div>
</div>

<!-- 
<div>
<Boxes content={PublicGoods} />
</div> -->

</div>

