---
const { content } = Astro.props;

import logoBowtie from "../assets/logo_bowtie.jpg";
import * as TeamProfile from "../content/landing/team-profile.md";
import Member from "./Member.astro";
---


<div>
    <div class="flex flex-col p-2 w-full mt-10">
        <div class="grid grid-cols-2 gap-12 mb-10">
            <div class="flex justify-center items-center">
                <Member name={TeamProfile.frontmatter.m1} title={TeamProfile.frontmatter.m1Title} avatar={TeamProfile.frontmatter.m1Image} />
            </div>
            <div class="flex justify-center items-center">
                <Member name={TeamProfile.frontmatter.m2} title={TeamProfile.frontmatter.m2Title} avatar={TeamProfile.frontmatter.m2Image} />
            </div>
            <div class="flex justify-center items-center">
                <Member name={TeamProfile.frontmatter.m3} title={TeamProfile.frontmatter.m3Title} avatar={TeamProfile.frontmatter.m3Image} />
            </div>
            <div class="flex justify-center items-center">
                <Member name={TeamProfile.frontmatter.m4} title={TeamProfile.frontmatter.m4Title} avatar={TeamProfile.frontmatter.m4Image} />
            </div>
        </div>

        <div class="mx-14 p-8">

          
            <div class="text-center">
                <div class="text-slate-500 text-2xl">
                    Contact us to build your dream

                </div>
                <br/>
                <a href="mailto:v@fractal.box">v@fractal.box</a>
            </div>
        </div>

<!-- <div>
    <div class="flex flex-row">
        Team from
    </div>
    <div>
        <img class="w-24" src={logoBowtie.src} />
    </div>

</div> -->
</div>
    
    
    </div>
   
</div>